* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  .navbar {
    width: 100%;
    height: 80px;
    z-index: 1;
    &-top {
      width: 100%;
      height: 30px;
      background-color:  #21333e;
      display: flex;
      &-section-left {
        width: 50%;
        height: 30px;
        text-align: center;
        font-size: 15px;
        span {
          line-height: 30px;
          color: lightgray;
        }
      }
      &-section-right {
        width: 50%;
        height: 30px;
        display: flex;
        &-box {
          line-height: 30px;
          margin: 0 15px;
          font-size: 15px;
          color: lightgray;
        }
      }
    }

    &-bottom{
      width: 100%;
      height: 50px;
      display: flex;

      &-section-left {
        width: 40%;
        height: 50px;
        text-align: center;
        img {
          height:  40px;
          margin-top: 5px;
        }
      }
      &-section-right {
        width: 60%;
        height: 50px;
        display: flex;

        &-box {
          line-height: 50px;
          text-align: center;
          margin-left: 23px;
          span {
            a {
              color: #444;
              text-decoration: none;
            }
          }
          &:last-Child {
            line-height: 50px;
            span {
              padding: 10px;
              background-color: #058283;
              border-radius: 5px;
              a {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  .jumbotron {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('../images/bg-parallax.png');
    background-size: 210%;
    background-position: center;
    position: relative;
    &-content{
      text-align: center;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      &-title {
        font-size: 60px;
        color: #21333e;
        padding: 20px 0;
        span {
          color: #058283;
          background-color: #d5e7e8;
          padding: 0 10px;
        }
      }
      &-slogan{
        margin: auto;
        width: 55%;
        text-align: center;
        color: gray;
        padding-bottom: 20px;
      }
      &-buttonsArea{
        margin: auto;
        width: 55%;
        display: flex;
        justify-content: space-around;

        &-getIn{
          padding: 10px;
          background-color: #058283;
          border-radius: 3px;
          color: white;
        }
        &-readMore{
          padding: 10px;
          border-radius: 3px;
          border: 1px solid #058283;
          color: #058283;
        }
      }
    }
    &-slider {
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(-250%, -60%);
      &-slide {
        margin: 10px 0;
        width: 7px;
        height: 40px;
        border: 1px solid #058283;
        border-radius: 7px;
      }
      &-slide:nth-child(2){
        background-color: #058283;
      }
    }
  }
  .services {
    width: 100%;
    height: 100vh;
    background-color: #eef4ed;
    position: relative;;
    &-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 75%;

      &-businessArea {
        color: #058283;
        font-size: 13px;
      }

      &-title {
        font-size: 40px;
        color: #21333e;
        padding: 20px 0;
        span {
          color: #058283;
          background-color: #d5e7e8;
          padding: 0 10px;
        }
      }

      &-description {
        width: 75%;
        font-size: 15px;
        color: gray;
        display: inline-block;
      }

      &-seeAll {
        display: inline-block;
        padding: 10px;
        background-color: #058283;
        border-radius: 3px;
        color: white;
        float: right;
      }

      &-boxes {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-box {
          padding: 20px;
          margin-top: 10px;
          width: 32.5%;
          height: 145px;
          border-radius: 4px;
          background-color: white;
          &-arrow{
            float: right;
          }
          &-title {
            color: #21333e;
            font-weight: bold;
            font-size: 20px;
            padding: 10px 0;
          }
          &-text{
          color: gray;
          }
        }
      }
    }
  }
  .about {
    width: 100%;
    height: 100vh;
    display: flex;
    &-left{
      width: 50%;
      height: 100%;
      background-color: #111117;
      position: relative;
      &-content{
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-28.5%, -50%);
        &-network {
          color: #058283;
          font-size: 12px;
          font-weight: bold;
        }

        &-title {
          font-size: 40px;
          padding: 20px 0;
          color:white;
          &-first {
            border-radius: 3px;
            background-color: #21333e;
            padding: 0 10px;
          }
        }

        &-description {
          width: 100%;
          font-size: 14px;
          color: gray;
          display: inline-block;
        }

        &-boxes {
          margin-top: 20px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          &-box {
            height: 100px;
            width: 48.5%;
            margin-top: 10px;
            &-image{
              display: inline-block;
              color: #058283;
              font-size: 25px;
            }
            &-title {
              font-size: 20px;
              font-weight: bold;
              color: white;
              margin-left: 15px;
            }
            &-text {
              font-size: 15px;
              color: gray;
              margin: 10px 0;
            }
          }
        }
      }
    }

    &-right{
      width: 50%;
      height: 100%;
      background-image: url('../images/about-4.jpg');
      background-size: cover;
      background-position: center;
    }
  }
  .projects {
    width: 100%;
    height: 125vh;
    position: relative;
    &-content {
      width: 70%;
      margin: auto;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &-more {
        color: #058283;
        font-size: 12px;
        font-weight: bold;
      }
      &-title{
        font-size: 50px;
        color: #21333e;
        padding: 20px 0;
        &-second {
          color: #058283;
          background-color: #d5e7e8;
          padding: 0 10px;
        }
      }
      &-filter {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-around;
        &-option {
          color: gray;
          font-size: 15px;
          line-height: 40px;
        }
        &-option:first-child {
          background-color: #d5e7e8;
          border-radius: 7px;
          padding: 0 5px;
        }
      }
      &-boxes {
        width:  100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-box {
          border-radius: 7px;
          margin-top: 15px;
          width: 32%;
          height: 225px;
          &-layOver {
            border-radius: 7px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            position: relative;
            &-content{
              width: 100%;
              position: absolute;
              bottom: 20px;
              left: 50%;
              transform: translate(-50%, 0);
              &-text {
                color: white;
                font-size: 22px;
                font-weight: bold;
              }
              &-description {
                color: white;
                font-size: 16px;
                margin: 15px;
                display: none;
              }
            }
          }
        }
        &-box:hover .projects-content-boxes-box-layOver-content-description{
          display: block;
        }
      }
    }
  }

  .results {
    width: 100%;
    height: 100vh;

    &-contentTop {
      height: 70%;
      width: 100%;
      position: relative;
      background-image: url('../images/bg-7.jpg');
      background-size: 100%;
      background-position: center;
      &-content {
        position: absolute;
        width: 70%;
        text-align: center;
        top: 25%;
        left: 15%;
        transform: translate(-500% -50%);
        &-what {
          color: #058283;
          font-size: 12px;
          font-weight: bold;
        }
        &-title{
          font-size: 40px;
          color: white;
          padding: 20px 0;
          &-first {
            color: white;
            background-color: #21333e;
            padding: 0 10px;
          }
        }
        &-boxes {
          margin-top: 40px;
          width: 100%;
          justify-content: space-between;
          display: flex;
          &-box{
            &-result{
              font-size: 25px;
              font-weight: bold;
              color: #058283;
            }
            &-area {
              margin-top: 10px;
              color: white;
            }
          }
        }
      }
    }
    &-contentBottom {
      width: 100%;
      height: 30%;
      background-color: #111117;
      position: relative;
      &-boxes{
        width: 70%;
        position: absolute;
        top: 50%;
        left: 15%;
        display: flex;
        justify-content: space-between;
        &-box {
          img {
            height: 20px;
            color: lightgray;
          }
        }
      }
    }
  }
  .contact {
    width: 100%;
    height: 100vh;
    position: relative;
    &-content {
      position: absolute;
      top: 20%;
      left: 15%;
      width: 70%;
      display: flex;
      &-left {
        width: 65%;
        flex: none;
        &-send {
          color: #058283;
          font-size: 12px;
          font-weight: bold;
        }
        &-title {
          font-size: 45px;
          color: #21333e;
          padding: 20px 0;
          font-weight: bold;

          &-second {
            color: #058283;
            background-color: #d5e7e8;
            padding: 0 10px;
          }
        }
        &-description {
          color: gray;
        }

        &-form {
          width: 100%;
          padding: 20px 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 25px;
          &-text {
            width : 48%;
            border: none;
            border-radius: 3px 3px;
            background-color: lightgray;
            height: 30px;
            padding-left: 15px;
            margin: 10px auto;
          }
          &-message {
            width : 98%;
            border: none;
            border-radius: 3px 3px;
            background-color: lightgray;
            height: 100px;
            padding-left: 15px;
            margin: 10px auto
          }
          &-button {
            padding: 10px 20px;
            border-radius: 3px;
            background-color: #058283;
            color: white;
            margin-left: 5px;
          }
        }
      }
      &-right {
        padding-left: 40px;
        &-title {
          color: #21333e;
          display: block;
          font-size: 25px;
          font-weight: bold;
        }
        &-description {
          display: block;
          margin-top: 20px;
          margin-bottom: 30px;
          color: gray;
        }
        &-box {
          margin: 15px 0;
          &-icon {
            border-radius: 50%;
            padding: 10px;
            display: inline-block;
            color:#058283;
            background-color: #d5e7e8;
          }
          &-text {
            color:#058283;
          }
        }
        &-button {
          padding: 10px;
          border-radius: 3px;
          border: 1px solid #058283;
          color: #058283;
          margin: 5px 0;
          display: inline-block;
        }
      }
    }
  }
  .footer {
    width: 100%;
    height: 80vh;
    background-color: #111117;
    &-top {
      width: 100%;
      height: calc(80vh - 70px);
    }
    &-top {
      width: 100%;
      &-content {
        margin: auto;
        width: 70%;
        color: gray;
        display: flex;
        &-left {
          width: 25%;
          font-size: 15px;
          flex: none;
          &-logo {
            img {
              height: 40px;
            }
          }
          &-description {
            margin: 25px 0;
          }
          &-box {
            margin: 15px 0;
            &-icon {
              margin-right: 10px;
              border-radius: 50%;
            }
          }
          &-button {
            padding: 10px;
            border-radius: 3px;
            border: 1px solid #058283;
            color: white;
            margin: 5px 0;
            display: inline-block;
            font-weight: bold;
          }
        }
        &-right {
          width: 75%;
          height: 70px;
          background-color: red;
        }
      }
    }
    &-bottom{
      width: 100%;
      height: 70px;
      background-color: #0d0d11;
      &-content {
        margin: auto;
        width: 70%;
        height: 70px;
        color: gray;
        display: flex;
        &-first, &-second{
          width: 50%;
          font-size: 15px;
          text-align: center;
          line-height: 70px;
        }
      }
    }
  }
}
